
/*
Bootstrap ?ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â°??ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â±???ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â£ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â»???
*/


.btn-register {
    color: #FFFFFF;
    background-color: #E92322;
    border-color: #DB3B43;
}
.btn-register:hover,
.btn-register:focus,
.btn-register:active,
.btn-register.active,
.open .dropdown-toggle.btn-register {
    color: #FFFFFF;
    background-color: #E92322;
    border-color: #DB3B43;
}

.btn-register:active,
.btn-register.active,
.open .dropdown-toggle.btn-register {
    background-image: none;
}

.btn-register.disabled,
.btn-register[disabled],
fieldset[disabled] .btn-register,
.btn-register.disabled:hover,
.btn-register[disabled]:hover,
fieldset[disabled] .btn-register:hover,
.btn-register.disabled:focus,
.btn-register[disabled]:focus,
fieldset[disabled] .btn-register:focus,
.btn-register.disabled:active,
.btn-register[disabled]:active,
fieldset[disabled] .btn-register:active,
.btn-register.disabled.active,
.btn-register[disabled].active,
fieldset[disabled] .btn-register.active {
    background-color: #E92322;
    border-color: #DB3B43;
}

.panel-guojunwei {
    border-color: #ddd;
    height: 150px;
}
.panel-guojunwei > .panel-heading {
    color: #333;
    height: 150px;
    float: right;
    width: 120px;
    border-left: 1px dashed #c0c0c0;
    position: relative;
    padding: 45px 0 35px 0;
    color: #fff;
}
.panel-guojunwei > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: #ddd;
}
.panel-guojunwei > .panel-heading .badge {
    color: #f5f5f5;
    background-color: #333;
}

.btn-register .badge {
    color: #E92322;
    background-color: #FFFFFF;
}


.navbar-itcast {
    /*background-color: #f8f8f8;*/
    border-color: #f5f5f5;
    z-index: 1;
}
.navbar-itcast .navbar-brand {
    color: #777;
    height: 80px;
}
.navbar-itcast .navbar-brand:hover,
.navbar-itcast .navbar-brand:focus {
    color: #5e5e5e;
    background-color: transparent;
}
.navbar-itcast .navbar-text {
    color: #777;
}
.navbar-itcast .navbar-nav > li > a {
    color: #777;
    line-height: 48px;
}
.navbar-itcast .navbar-nav > li > a:hover,
.navbar-itcast .navbar-nav > li > a:focus {
    /*color: #333;*/
    background-color: transparent;
    border-bottom: 2px solid #e92322;
}
.navbar-itcast .navbar-nav > .active > a,
.navbar-itcast .navbar-nav > .active > a:hover,
.navbar-itcast .navbar-nav > .active > a:focus {
    /*color: #555;*/
    /*background-color: #e7e7e7;*/
    border-bottom: 2px solid #e92322;
}
.navbar-itcast .navbar-nav > .disabled > a,
.navbar-itcast .navbar-nav > .disabled > a:hover,
.navbar-itcast .navbar-nav > .disabled > a:focus {
    color: #ccc;
    background-color: transparent;
}
.navbar-itcast .navbar-toggle {
    border-color: #ddd;
    margin-top: 23px;
    margin-bottom: 23px;
}
.navbar-itcast .navbar-toggle:hover,
.navbar-itcast .navbar-toggle:focus {
    background-color: #ddd;
}
.navbar-itcast .navbar-toggle .icon-bar {
    background-color: #888;
}
.navbar-itcast .navbar-collapse,
.navbar-itcast .navbar-form {
    border-color: #e7e7e7;
}
.navbar-itcast .navbar-nav > .open > a,
.navbar-itcast .navbar-nav > .open > a:hover,
.navbar-itcast .navbar-nav > .open > a:focus {
    color: #555;
    background-color: #e7e7e7;
}
/*  ?ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¦??ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¦ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â±??ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â£ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â»???*/
body {
    font-family: "Helvetica Neue",Helvetica,Microsoft Yahei;
}
@font-face {
    font-family: "guojunwei";
    src: url('../font/MiFie-Web-Font.eot') format('embedded-opentype'),
    url('../font/MiFie-Web-Font.svg') format('svg'),
    url('../font/MiFie-Web-Font.ttf') format('truetype'),
    url('../font/MiFie-Web-Font.woff') format('woff');
}
[class^='icon-'],[class*=' icon-'] {
    font-family:'guojunwei';
    font-style: normal;
}
/*??ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€šÃ‚Â¢??ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã¢â‚¬Â¦ÃƒÂ¢Ã¢â€šÂ¬Ã…â€œ??????*/
.icon-mobilephone::before {
    content: "\e908";
    font-size: 13px;
}
.icon-telephone::before {
    content: "\e909";
    font-size: 15px;
}
.icon-icon::before {
    content: "\e920";
}
.icon-logo::before {
    content: "\e93e";
}
.icon-uniE907:before {
    content: "\e907";
}
.icon-uniE903:before {
    content: "\e903";
}
.icon-uniE901:before {
    content: "\e901";
}
.icon-uniE900:before {
    content: "\e900";
}
.icon-uniE904:before {
    content: "\e904";
}
.icon-uniE902:before {
    content: "\e902";
}
.icon-uniE906:before {
    content: "\e906";
}
.icon-uniE905:before {
    content: "\e905";
}

.icon-news01:before {
    content: "\e90e";
    font-size: 28px;
    color: #EAEAEA;
}

.icon-news02:before {
    content: "\e90f";
    font-size: 28px;
    color: #EAEAEA;
}

.icon-news03:before {
    content: "\e910";
    font-size: 28px;
    color: #EAEAEA;
}

.icon-news04:before {
    content: "\e911";
    font-size: 28px;
    color: #EAEAEA;
}
/*?ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¤?ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â©?ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¨??????*/
/*#header{*/
    /*height: 200px;*/
    /*!*background-color: #f0f0f0;*!*/
/*}*/
/*???ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¨????ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â£ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â»???*/
/*section {*/
    /*height: 200px;*/
    /*background-color: #fff;*/
/*}*/
section:nth-of-type(2n) {
    background-color: #f0f0f0;
}
#header>.topbar {
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #c0c0c0;
}
/*#header>.topbar>.container {*/
    /*height: 40px;*/
    /*background-color: #f40;*/
/*}*/
/*#header>.topbar>.container>.row> {*/
    /*height: 40px;*/
    /*!*background-color: #f40;*!*/
/*}*/
#header > .topbar > .container > .row > div {
    font-size: 12px;
    height: 40px;
    position: relative;
    color: #888;
    /*border-right: 1px solid #bbb;*/
    /*background-color: #f50;*/
}
#header > .topbar > .container > .row > div + div {
    border-left: 1px solid #bbb;
}
/*#header > .topbar > .container > .row > div:last-child {*/
    /*border-right: none;*/
/*}*/
#header > .topbar > .container > .row > div:nth-child(2n){
    height: 40px;
    /*background-color: #f40;*/
}
/*.mobile-link {*/
    /*color: #888;*/
/*}*/
.mobile-link:hover {
    color: #888;
    text-decoration: none;
}
.mobile-link > img {
    position: absolute;
    top: 27px;
    left: 23px;
    display: none;
    z-index: 2;
}
.mobile-link:hover img{
    display: block;
}
#header > .topbar > .container > .row > div a{
    color: #888;
    text-decoration: none;
}
#header > .topbar > .container > .row > div:last-child a:first-child {
    color: #fff;
}
/*??ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€šÃ‚Â¢??ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã¢â‚¬Â¦ÃƒÂ¢Ã¢â€šÂ¬Ã…â€œ??????*/
.icon-mobilephone::before {
    content: "\e908";
    font-size: 13px;
}

.icon-telephone::before {
    content: "\e909";
    font-size: 15px;
}
#header .icon-icon {
    font-size: 50px;
    color: #e92322;
    vertical-align: middle;
    line-height: 50px;
}
#header .icon-logo {
    /*content: "\e93e";*/
    font-size: 32px;
    color: #222;
    vertical-align: middle;
    line-height: 50px;
}
#header .navbar {
    margin-bottom: 0;
    width: 100%;
    background-color: #fff;
    top: 0;
}
#header .navbar::before{
    content: '';
    display: table;
}
/*  ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¥ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¹ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¿ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¥ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¹Ã…â€œÃƒÆ’Ã¢â‚¬Â¦Ãƒâ€šÃ‚Â ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¨ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â½ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â®ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¦ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬ÃƒÂ¢Ã¢â‚¬Å¾Ã‚Â¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â­  */
#main-ad > .carousel-inner > .item{
    /*width: 2000px;*/
    height: 410px;
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;

}
@media (max-width: 768px) {
    #main-ad > .carousel-inner > .item{
        height: auto;
    }
}
#main-ad > .carousel-inner > .item > img {
    width: 100%;
}
/*  ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â§ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€šÃ‚Â°ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¹ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¨ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€šÃ‚Â°ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â²ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¦ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚ÂÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¿ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¥ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚ÂÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬ÃƒÂ¢Ã¢â€šÂ¬Ã‚Â*/

/*#feature> .container> .row> div {*/
/*height: 200px;*/
/*background-color: #f40;*/
/*margin-bottom: 20px;*/
/*border-right: 2px solid red;*/
/*}*/
#feature {
    padding: 40px 0;
    background-color: #fff;
    border-bottom: 1px solid #e0e0e0;
}
#feature a{

    text-decoration: none;
    color: #333;
}
#feature a:hover {
    color: #e92312;
}
#feature .media {
    padding: 10px 0;
}
#feature .media-body{
    padding: 5px 0;
}
#feature > .container [class*='icon-'] {
    font-size: 34px;
}

#liyy {
    /*height: 60px;*/
    border-bottom: 1px solid #e0e0e0;
}
#liyy .container{
    padding-top: 20px;
    padding-bottom: 10px;
}

#liyy p {
    font-size: 16px;
    margin-top: 0;
    line-height: 20px;
}
#liyy i {
     font-size: 22px;
 }
#liyy p span {
    color: #e92322;
}
#liyy a {
    color: #e92322;
    text-decoration: none;
    border-bottom: 1px dashed #e92322;
}
#liyy a:hover {
    color: #e92322;
}

/*ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¤ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚ÂºÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â§ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¥ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã¢â‚¬Å“ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚ÂÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¦ÃƒÆ’Ã¢â‚¬Â¦Ãƒâ€šÃ‚Â½ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¨ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¨ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚ÂÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â*/

#products {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #f0f0f0;
}

#products > .container > .wrapper > .nav-tabs {font-size: 16px;}
#products > .container > .wrapper > .nav-tabs {padding-left: 20px;}
#products > .container > .wrapper > .nav-tabs > li >a {background-color: transparent;border: 0;color: #444;}
#products > .container > .wrapper > .nav-tabs > li >a:hover {color: #222;}
#products > .container > .wrapper > .nav-tabs > li.active > a{border-bottom: 4px solid #e92322;}

#products > .container > .tab-content > .tab-pane {
    margin: 20px 0;
    height: 150px;
}
#products > .container > .tab-content > .tab-pane .panel {
    border-radius: 0;
    box-shadow: 2px 2px 5px #ccc;
}
.panel.active {
    background-color: #e92322;
    position: relative;
}
#products .panel.active::before {
    content: "\e915";
    font-family: 'guojunwei';
    font-size: 36px;
    color: #fff;
    position: absolute;
    top: -9px;
}
#products > .container > .tab-content > .tab-pane .panel-heading::before,
#products > .container > .tab-content > .tab-pane .panel-heading::after{
    content: '';
    width: 16px;
    height: 16px;
    border-radius: 8px;
    background-color: #f0f0f0;
    position: absolute;
    left: -8px;
    bottom: -8px;
}
#products > .container > .tab-content > .tab-pane .panel-heading::before {
    left: -8px;
    top: -8px;
}
#products > .container > .tab-content > .tab-pane .panel-heading::after {
    box-shadow: 0px 1px 1px #ccc inset;
    left: -8px;
    bottom: -8px;
}
#products > .container > .tab-content > .tab-pane .panel.state0 {
    background-color: #e0e0e0;

}
#products > .container > .tab-content > .tab-pane .panel {
    color: #fff;
}
#products > .container > .tab-content > .tab-pane .black {
    color: #555;
}
#products > .container > .tab-content > .tab-pane .panel h4{
    margin-top: 0px;
    font-size: 16px;
}
#products > .container > .tab-content > .tab-pane .panel dt{
    margin-bottom: 0;
    color: #c0c0c0;
    font-size: 10px;
}
#products > .container > .tab-content > .tab-pane .panel strong {
    font-size: 18px;
    font-weight: normal;
    margin-bottom: 5px;
}
#products > .container > .tab-content > .tab-pane .panel dd{
    margin-bottom: 5px;
}

#products > .container > .tab-content > .tab-pane .panel-heading > p > strong {font-size: 36px;font-weight: 700;}
#products > .container > .tab-content > .tab-pane .panel-heading > p > sub {font-size: 14px;}
#products > .container > .tab-content > .tab-pane .panel-heading > span {

}
#products > .container > .tab-content > .tab-pane .black {
    color: #555;
}
#products > .container > .tab-content > .tab-pane .red {
    color: #e92322;
}
#products > .container > .tab-content > .tab-pane .panel-body.state1::after,
#products > .container > .tab-content > .tab-pane .panel-body.state2::after,
#products > .container > .tab-content > .tab-pane .panel-body.state3::after,
#products > .container > .tab-content > .tab-pane .panel-body.state4::after{
    font-family: 'guojunwei';
    position: absolute;
    right: -5px;
    font-size: 100px;
    color: #e92333;
    top: 4px;
}
#products > .container > .tab-content > .tab-pane .panel-body.state1::after {
    content: "\e925";
}
#products > .container > .tab-content > .tab-pane .panel-body.state2::after{
    content: "\e926";
}
#products > .container > .tab-content > .tab-pane .panel-body.state3::after{
    content: "\e927";
}
#products > .container > .tab-content > .tab-pane .panel-body.state4::after{
    content: "\e928";
}

#products > .container > .tab-content > .tab-pane .tooltips {
    position: absolute;
    width: 100%;
    top: 20px;
    /*font-size: 0;*/
}
#products > .container > .tab-content > .tab-pane .tooltips span {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-width: 1px;
    border-style: solid;
    cursor: pointer;
}
#products > .container > .tab-content > .tab-pane .tooltips span.primary {
    border-color: #e92322;
    color: #e92322;
}
#products > .container > .tab-content > .tab-pane .tooltips span.secondary {
    border-color: #399;
    color: #399;
}

/*新闻版块*/

#news {
    padding: 50px 0;
    border-bottom: 1px solid #c0c0c0;
}
#news .nav-pills {
    border-left: 1px dashed #c0c0c0;
    margin-left: 30px;
}

#news .news-title {
    font-size: 20px;
    padding: 10px 15px;
    border-bottom: 1px dashed #c0c0c0;
    text-align: center;
    margin-bottom: 30px;
    position: relative;
}
#news .news-title::after {
    content: '';
    width: 10px;
    height: 10px;
    border-radius: 5px;
    border: 1px solid #c0c0c0;
    position: absolute;
    bottom: -5px;
    right: -10px;
}
#news .nav-pills li {
    margin-left: -30px;
}
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus,.nav-pills >li a:hover {
    color: #fff;
    background-color: #e92322;
}
.nav-pills > li > a {
    display: inline-block;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    margin-bottom: 20px;
    margin-right: 20px;
    background-color: #f5f5f5;
}
#news .tab-pane ul{list-style: none;padding-left:0;}
#news .tab-pane ul li {
    font-size: 14px;
    line-height: 3;
}

@media (max-width: 992px) {
    .nav-stacked > li {
        float: left;
        margin-right: 30px;
    }
    #news .nav-pills {
        border-left: 0;
    }

}



/*合作伙伴*/
#partner {padding: 50px 0;}
#partner h3 {text-align: center;}
#partner ul {list-style: none;position: relative;}
#partner ul li{  float: left;  width: calc(100% / 9);  text-align: center;  line-height: 1;  }
#partner ul li+li{border-left: 1px dashed #c0c0c0;}
#partner ul li a{font-size: 50px;color: #999;/* text-align: center; */text-decoration: none;}
#partner ul li a:hover{

}
/*partner 中的字体图标*/
.icon-uniE930:hover {
    color: #df3232;
}

.icon-uniE930:before {
    content: "\e946";
}

.icon-uniE92F:hover {
    color: #e8380d;
}

.icon-uniE92F:before {
    content: "\e92f";
}

.icon-uniE92E:hover {
    color: #ed6f00;
}

.icon-uniE92E:before {
    content: "\e92e";
}

.icon-uniE92A:hover {
    color: #159f69;
}

.icon-uniE92A:before {
    content: "\e92a";
}

.icon-uniE929:hover {
    color: #07569e;
}

.icon-uniE929:before {
    content: "\e929";
}

.icon-uniE931:hover {
    color: #004098;
}

.icon-uniE931:before {
    content: "\e931";
}

.icon-uniE92C:hover {
    color: #d32019;
}

.icon-uniE92C:before {
    content: "\e92c";
}

.icon-uniE92B:hover {
    color: #3eac4a;
}

.icon-uniE92B:before {
    content: "\e92b";
}

.icon-uniE92D:hover {
    color: #2bb289;
}

.icon-uniE92D:before {
    content: "\e92d";
}


